/* Begin Dalmat */
body {
    background-color: #f5f7fb;
}

.card {
    border-radius: 0.75rem;
}

.dashboard-wrapper {
	height: calc(100vh - 4.375rem);
	display: flex;
	flex-direction: row;
}


.sidebar-desktop {
	width: 25%;
	max-width: 350px;
	min-width: 250px;
	background: white;
	border-right: 1px solid #ddd;
	overflow-y: auto;
}

.sidebar-inner {
	padding-top: 1rem;
}

.screens-container {
	width: 75%;
    height: calc(100vh - 4.375rem);
	overflow-y: auto;
	background-color: #f8f9fc;
}


.spaScreen {
	width: 100%;
	height: 100%;
}
.sidebar-active {
    background-color: white !important;
    color: #4e73df !important;
    border-left: 4px solid #4e73df !important;
    font-weight: 600 !important;
}

.sidebar-active i {
    color: #4e73df !important;
}



#mapScreen #map {
	height: calc(100vh - 60px);
}

.plane-icon {
    width: 30px;
    height: 30px;
    background-image: url('/img/plane.png');
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(26%) sepia(83%) saturate(3930%) hue-rotate(210deg)
            brightness(94%) contrast(90%);
}



.plane-info-panel {
    position: absolute;
    bottom: 0px;
    right: 0;
    width: 0;
    opacity: 0;
    height: calc(100vh - 4.375rem);
    background: white;
    overflow: hidden;
    border-left: 2px solid #4e73df;
    transition: width 0.4s ease, opacity 0.4s ease;
    z-index: 5000;
    padding: 0;
}


.plane-info-panel.show {
    width: 350px;        
    opacity: 1;
    padding: 15px;
}



.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.panel-plane-img {
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.panel-data p {
    margin: 5px 0;
}

.leaflet-control-container{
    display:none !important
}
#searchScreen, #favoriteScreen {
    overflow-y: scroll;
    overflow-x: hidden;
}
.w-70 {
    width: 70% !important;
}

.w-30 {
    width: 30% !important;
}
.fav-btn {
    width: 50%;        
}





@media (max-width: 991px) {
	.sidebar-desktop {
		display: none;
	}
    .fav-btn {
        width: 100%;   
    }

	.screens-container {
		width: 100%;
	}
    .plane-info-panel.show {
        width: 100vw !important;        
        opacity: 1;
        padding: 15px;
    }
    .panel-plane-img {
        width: 50%;
        border-radius: 8px;
        margin-top: 10px;
    }
}
/* End Dalmat */